<%- include("partials/header.ejs") %>

<h1 style="color: #219ebc;">About Me</h1>
<img class="profile" src="images/portfolio.jpeg" alt="profile">
<p>
  Hi! I'm Amogh Chatterjee. A sophomore at BITS Pilani, Hyderabad Campus, pursuing Computer Science. I am decent (maybe, hah) at development and competitive coding. I like doing a lot of things, including but not limited to playing pool, badminton and basketball! (yes, I am a district level basketball player! Or well, I used to be.)
  I love music, and I have managed to teach myself some guitar. I also play the uke and sometimes I sing (terribly, but I try my best).</p>
  <p>Excited to get to know you!</p>

  <%- include("partials/footer.ejs") %>