<%- include("partials/header.ejs") %>


  <h1 style="color: #219ebc; text-decoration: underline;">HOME PAGE</h1>
  <p>Here's some stuff about me!</p>
  <h2 style="color: #d06fc0;">EDUCATION</h2> 
    <ul>
      <li><a href ="https://www.stxaviersschooljaipur.com/" style="color: rgb(213, 109, 109);">St. Xavier's Sr. Sec. School (2023)</a></li>
      <li><a href = "https://www.bits-pilani.ac.in/hyderabad/" style="color: rgb(213, 109, 109);">BITS Pilani, Hyderabad Campus (2027)</a></li>
  </ul>
  <hr/>
  <h2 style="color:  #d06fc0;">SKILLS</h2>
  <ol>
      <li>Experience in C, CPP, Java and Python. I've dabbled in some Machine Learning too!</li>
      <li>Experience in Web Development, primarily JS, node and express!</li>
      <p>I've made several projects like this!</p>
  </ol>
  <hr/>
  <h2 style="color: #d06fc0;">Awards & Achievements</h2>
    <ol>
        <li>Won multiple awards in science and math olympiads in middle school</li>
        <li>Attained rank 4366 in the Joint Entrance Examination</li>
    </ol>

  <%- include("partials/footer.ejs") %>